name: Validate Documentation

on:
  pull_request:
    branches: [ "main" ]

jobs:
  docs-check:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Check Markdown formatting
      run: |
        pip install mdformat
        mdformat --check docs/